version: "3.8"
services:
  micro-ros-agent:
    image: microros/micro-ros-agent:humble
    container_name: micro-ros-agent
    command: ["udp4", "--port", "8888", "-v6"]
    ports:
      - "8888:8888/udp"
    stdin_open: true
    tty: true
    restart: "no"
